@import "../../../scss/index.scss";

.comment-actions {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  i {
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  .like.active {
    color: $danger;
  }
}
