@import "../../../scss/index.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;

  img {
    max-width: 60% !important;
  }

  h1 {
    text-align: center;
  }

  h3 {
    color: $font-grey;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}
